.body-bg
{
    background-color: #221d1d24;
 
}

.no-margin-top
{
    margin-top: -22px !important;
}

.post-card-homepage
{
    background-color: whitesmoke;
    border-radius: 20px;
    padding:30px;
    margin-top:20px !important;

}

.registeration-card
{
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    padding:30px;
    margin-top:30px !important;
       
}

.register-btn {

    border-radius: 10px;

}

.form-alert
{
    color: red;
    font-weight: 400;
}